html {
    box-sizing: border-box;
    font-family: "Montserrat", "sans-serif";
    font-size: 14px;
    font-weight: bold;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    min-width: 280px;
    margin: 0 auto;
}

.section-program {
    min-height: 1891px;
    background-color: rgb(17, 21, 23);
}

.pic {
    opacity: 0.502;
    background-color: rgb(0, 0, 0);

}