html {
    box-sizing: border-box;
    font-family: "Montserrat", "sans-serif";
    font-size: 14px;
    font-weight: bold;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 280px;
    margin: 0 auto;
    text-align: center;
}

.section-program {
    padding-top: 56px;
    min-height: 1891px;
    background-color: rgb(17, 21, 23);
}

.section__list {
    position: relative;
}

.section__list-timeline::before {
    content: "";
    display: block;
    width: 2px;
    height: 1350px;
    background-image: linear-gradient(33deg, rgb(88, 82, 115) 0%, rgb(172, 95, 62) 24%, rgb(255, 107, 8) 99%);
    position: absolute;
    transform: translate(63px, 14px);

}


.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.section__item-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.11em;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.section__item-title::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .35);
    background-color: rgba(255, 107, 8);
    position: absolute;
    transform: translate(-35.5px, 10px);
}

.section__item-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: rgb(255, 107, 8);
    margin-bottom: 14px;
    padding-left: 38px;
    position: relative;
}

.section__item-subtitle::before {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(255, 107, 8);
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.section__item-desc {
    font-family: 'Montserrat',
        sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: rgb(133, 133, 133);
}

.section__item-desc:not(:last-child) {
    margin-bottom: 14px;
}

.section__item-desc span {
    display: block;
}

/* вынести в медиа */
.section__item:not(:last-child) {
    margin-bottom: 22px;
}

.section__item {
    padding-left: 95px;
    text-align: left;
}

.section-program-img {
    background-image: url(../images/program/pic.png);
    background-position: right 0 bottom 196px;
    background-repeat: no-repeat;
}